.Section1 {
  display: flex;
  flex-direction: row;

  @media (max-width: 1350px) {
    flex-direction: column;
  }

  > div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 1351px) {
      width: 80px;

      > div {
        transform: rotate(180deg);
        writing-mode: vertical-rl;
        text-orientation: mixed;
        font-family: "Aldrich";
        font-size: 16px;
        color: #ffffff;
      }
    }
  }

  > div:nth-child(2) {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .Pad {
      height: 75px;

      @media (max-width: 1350px) {
        display: none;
      }
    }

    .GameplayContainer {
      height: 391px;
      width: 845px;
      display: flex;
      border-radius: 54px;
      border: 1px solid #f8f3f3;
      position: relative;

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 54px;
        border: 1px solid #f8f3f3;
      }

      .HomeBar {
        position: absolute;
        left: 50%;
        bottom: 10px;
        z-index: 0;
        transform: translateX(-50%);
        width: 309px;
        height: 5px;
        border-radius: 2.5px;
        background-color: #ffffff47;
      }

      .DynamicIsland {
        background-color: #000000;
        border-radius: 17.5px;
        position: absolute;
        left: 12px;
        top: 50%;
        z-index: 0;
        transform: translateY(-50%);
        width: 35px;
        height: 124px;
        box-sizing: border-box;
        padding: 34px 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        .Camera {
          width: 6px;
          height: 6px;
          border-radius: 3px;
          background-color: #6669665c;
        }
      }
    }

    .Tags {
      height: 75px;
      display: flex;
      flex-direction: row;
      gap: 60px;
      align-items: center;
      justify-content: center;
      font-family: "Aldrich";
      font-size: 30px;
      color: #ffffff;

      @media (max-width: 1350px) {
        gap: 20px;
        font-size: 11px;
      }
    }
  }

  > div:nth-child(3) {
    width: 80px;
  }
}
