.Footer {
  > div:first-child {
    display: flex;
    flex-direction: row;
    background-color: #242424;
    color: #ffffff;
    padding: 45px 100px;

    @media (max-width: 1350px) {
      padding: 45px 45px;
      flex-direction: column;
      gap: 50px;
    }

    .ContactUs {
      flex: 1;

      > h2 {
        font-family: "Aldrich";
        font-size: 30px;
        font-weight: normal;
        margin: 0;
      }

      > p {
        font-family: "Poppins";
        font-size: 14px;
      }
    }

    .Links {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 20px;

      > a {
        font-family: "Aldrich";
        font-size: 20px;
        color: #ffffff;
        text-decoration: none;
      }
    }

    .Logos {
      display: flex;
      flex-direction: row;
      gap: 10px;
      justify-content: center;
      align-items: flex-end;

      > svg {
        height: 50px;
        width: auto;
      }
    }
  }

  > div:last-child {
    display: grid;
    grid-template-columns: 3fr 1fr auto;
    gap: 20px;
    align-items: center;
    background-color: white;
    padding: 24px 150px;
    color: #242424;
    fill: #242424;

    @media (max-width: 1350px) {
      padding: 30px 0;
      grid-template-columns: 1fr;
    }

    .Links {
      display: flex;
      flex-direction: row;
      gap: 60px;

      @media (max-width: 1350px) {
        justify-content: center;
      }

      @media (max-width: 1350px) {
        gap: 30px;
      }

      > a {
        font-family: "Alatsi";
        font-size: 16px;
        color: #242424;
        text-decoration: none;
      }
    }

    .Copyrights {
      font-family: "Alatsi";
      font-size: 11px;
      text-align: center;
    }

    .SocialMedia {
      display: flex;
      flex-direction: row;
      gap: 2px;
      justify-content: center;

      > a {
        display: flex;

        > svg {
          width: 28px;
          height: 28px;
        }
      }
    }
  }
}
