@import "material-design-icons/iconfont/material-icons.css";
@import "@fontsource/poppins/latin.css";
@import "@fontsource/aldrich/latin.css";
@import "@fontsource/alatsi/latin.css";

body {
  margin: 0;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
