.Section3 {
  height: 768px;
  background-color: #fff;
  padding: 60px 128px;

  .Title {
    font-family: "Aldrich";
    font-size: 64px;
    color: #262626;
    margin: 0 0 45px;
  }

  .SmallLine {
    width: 30px;
    height: 2px;
    border-radius: 1px;
    background: linear-gradient(90deg, #fff, #848484);
  }

  .Content {
    font-family: "Poppins";
    font-size: 20px;
    color: #9298a5;
    margin: 10px 0 0;
  }

  .SocialMediaContainer {
    display: inline-flex;
    flex-direction: row;
    height: 44px;

    &::before {
      content: "";
      display: block;
      border-left: 5px solid transparent;
      border-top: 22px solid transparent;
      border-right: 5px solid #f7c1ab;
      border-bottom: 22px solid #f7c1ab;
    }

    .SocialMedia {
      display: flex;
      flex-direction: row;
      gap: 2px;
      align-items: center;
      padding-left: 0;
      padding-right: 10px;
      background-color: #f7c1ab;

      > a {
        display: flex;

        > svg {
          width: 28px;
          height: 28px;
          fill: #fff;
        }
      }
    }
  }
}

// View Transitions
.Section3 {
  .Title {
    transition: transform 1.5s, opacity 1.5s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.1);
  }

  &[data-is-viewed="false"] {
    .Title {
      transform: translateY(-80%);
      opacity: 0;
    }
  }
}
